Repository leikoilja/ha-google-home, pull requests merged in 2021-09, with the labels that each got.

#321 Update codebase
  README.md
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/number.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  custom_components/google_home/types.py
  hacs.json
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: refactoring

#322 Match devices by device_id
  custom_components/google_home/entity.py
Labels: bug

#323 Better update handler
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  setup.cfg
Labels: feature

#324 Remove data collection option
  README.md
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/translations/ca.json
  custom_components/google_home/translations/de.json
  custom_components/google_home/translations/en.json
  custom_components/google_home/translations/nb.json
  custom_components/google_home/translations/nn.json
  custom_components/google_home/translations/pt.json
  custom_components/google_home/translations/ru.json
  custom_components/google_home/types.py
Labels: refactoring

#325 Workflow for publishing new releases
  .github/workflows/publish-release.yml
  poetry.lock
  pyproject.toml
  script/publish_release.py
Labels: github structure

#326 Bump glocaltokens to 0.5.0
  custom_components/google_home/manifest.json
  poetry.lock
  pyproject.toml
Labels: dependencies

#327 Use admin token for publishing release
  .github/workflows/publish-release.yml
Labels: github structure

#328 Temporary disable branch protection for updating manifest
  script/publish_release.py
Labels: github structure

#331 Fix compatibility with googlewifi integration
  custom_components/google_home/manifest.json
  poetry.lock
  pyproject.toml
Labels: dependencies

#333 Add installs badge
  README.md
Labels: documentation

#344 Adding Google Account security section to README
  .pre-commit-config.yaml
  README.md
Labels: documentation

#347 Adding spanish Language
  README.md
  custom_components/google_home/translations/es.json
Labels: translation
