Repository leikoilja/ha-google-home, pull requests merged in 2021-06, with the labels that each got.

#252 Added section to troubleshooting
  README.md
Labels: documentation

#251 Changed device status
  README.md
  custom_components/google_home/sensor.py
Labels: feature

#249 Added Catalan translations
  custom_components/google_home/translations/ca.json
Labels: feature

#254 Added `glocaltokens` label
  .github/labels.yml
Labels: github structure

#253 Added localization docs
  LOCALIZATION.md
  README.md
Labels: documentation

#262 Added Norwegian 🇳🇴
  LOCALIZATION.md
  README.md
  custom_components/google_home/translations/nb.json
  custom_components/google_home/translations/nn.json
Labels: documentation

#264 Adding Russian translation 🇷🇺
  README.md
  custom_components/google_home/translations/ru.json
Labels: documentation

#265 Adding translation label and release drafter
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
Labels: github structure

#280 Added Slack link
  CONTRIBUTING.md
Labels: documentation
