Repository leikoilja/ha-google-home, pull requests merged in 2021-04, with the labels that each got.

#131 Add reuse of master_token
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
Labels: bug

#132 Bump up dependancy versions + dependabot
  .github/dependabot.yml
Labels: dependencies

#138 Adding ClientConnectionError handler
  custom_components/google_home/api.py
Labels: bug

#133 Retry device update on every coordinator update
  custom_components/google_home/api.py
Labels: bug

#141 Adding config options
  README.md
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/translations/en.json
Labels: feature

#113 Readme: add troubleshooting section
  README.md
  custom_components/google_home/translations/en.json
Labels: documentation

#144 Remove beta remarks
  README.md
Labels: documentation

#145 Update release-drafter.yml
  .github/release-drafter.yml
Labels: refactoring

#147 Fix Labeler
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/home-assistant.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yaml
  .github/workflows/manage-labels.yml
  .github/workflows/release-drafter.yml
Labels: github_structure

#151 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#148 Use homeassistant typing stubs
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/exceptions.py
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/types.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: refactoring

#115 Add support for the status attribute of alarms/timers
  README.md
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/types.py
Labels: documentation, feature

#152 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#150 Add delete services
  README.md
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/sensor.py
  custom_components/google_home/services.yaml
Labels: documentation, feature

#154 Update README.md
  README.md
Labels: documentation

#155 Add reboot service
  README.md
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/sensor.py
  custom_components/google_home/services.yaml
Labels: feature

#159 Install flake8 plugins
  custom_components/google_home/api.py
  poetry.lock
  pyproject.toml
Labels: dependencies, refactoring

#158 Improve typing in config flow
  custom_components/google_home/config_flow.py
  custom_components/google_home/types.py
Labels: refactoring

#161 Update glocaltokens to 0.3.0
  custom_components/google_home/api.py
  custom_components/google_home/manifest.json
  poetry.lock
  pyproject.toml
Labels: dependencies

#170 Trying to fix timeout error
  custom_components/google_home/api.py
  custom_components/google_home/const.py
Labels: bug

#162 Add do not disturb switch
  README.md
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  custom_components/google_home/types.py
Labels: feature

#171 Fix options flow
  custom_components/google_home/config_flow.py
  custom_components/google_home/translations/en.json
Labels: bug

#172 Fix do not disturb switch
  README.md
  custom_components/google_home/api.py
  custom_components/google_home/const.py
Labels: bug, documentation

#175 Stricter Labeler rules
  .github/labeler.yml
Labels: github structure

#177 Update issue template
  .github/ISSUE_TEMPLATE/issue.md
Labels: github structure

#180 Fix labeler config
  .github/labeler.yml
Labels: github structure

#181 Adding alarm state 4
  custom_components/google_home/models.py
Labels: bug

#185 Add missing states
  custom_components/google_home/models.py
Labels: bug

#190 Fixed a small mistake in 2FA README Section
  README.md
Labels: documentation

#189 Fix Labeler
  .github/labeler.yml
Labels: github structure

#188 Fix parsing for paused timer
  README.md
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/types.py
Labels: bug

#198 Update troubleshooting in README.md
  README.md
Labels: documentation

#201 Deduplicate request methods
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/types.py
Labels: refactoring

#203 Add Node-RED section in README
  README.md
Labels: documentation

#205 Put inactive alarms to the end of sorted list
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
Labels: bug

#206 Update Dependabot config
  .github/dependabot.yml
  .github/labels.yml
Labels: github structure

#208 Re-add Dependabot labels setting
  .github/dependabot.yml
Labels: github structure

#209 Setup codespell
  .pre-commit-config.yaml
  CONTRIBUTING.md
  custom_components/google_home/api.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: refactoring

#210 Add a link to the Node-RED section in README.md
  README.md
Labels: documentation

#213 Bump up glocaltokens to v0.3.1
  custom_components/google_home/manifest.json
  poetry.lock
  pyproject.toml
Labels: dependencies

#216 Fix Labeler config
  .github/labeler.yml
Labels: github structure

#218 Modernise type hints
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  custom_components/google_home/types.py
Labels: refactoring

#223 Upgrade homeassistant to 2021.4.0
  README.md
  custom_components/google_home/__init__.py
  hacs.json
  poetry.lock
  pyproject.toml
Labels: dependencies
