Repository leikoilja/ha-google-home, pull requests merged in 2021-03, with the labels that each got.

#46 Removed `@gmail.com` omission indication.
  custom_components/ha-google-home/config_flow.py
  custom_components/ha-google-home/translations/en.json
Labels: patch, refactoring

#47 Making master stable again! 💥
  .devcontainer/configuration.yaml
  .vscode/launch.json
  .vscode/settings.json
  custom_components/ha-google-home/__init__.py
  custom_components/ha-google-home/api.py
  custom_components/ha-google-home/config_flow.py
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/entity.py
  custom_components/ha-google-home/manifest.json
  custom_components/ha-google-home/sensor.py
  custom_components/ha-google-home/translations/en.json
  custom_components/ha-google-home/utils.py
  hacs.json
Labels: major

#53 Update Readme to fit latest changes in master
  README.md
  misc/images/example1.png
  misc/images/example2.png
Labels: documentation

#55 Change state and time duration
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/sensor.py
  custom_components/ha-google-home/utils.py
Labels: refactoring

#57 Adding multiple alarm/timer support
  README.md
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/utils.py
Labels: feature

#64 Parse labels to timers and alarms
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/utils.py
Labels: feature

#62 401 error handling and caching google devices
  custom_components/ha-google-home/__init__.py
  custom_components/ha-google-home/api.py
  custom_components/ha-google-home/config_flow.py
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/sensor.py
Labels: performance

#65 Add next alarm sensor, and sort alarms and timers
  README.md
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/entity.py
  custom_components/ha-google-home/sensor.py
  custom_components/ha-google-home/utils.py
Labels: feature

#72 Add lovelace cards to readme
  README.md
Labels: documentation

#75 Integration renaming to PEP8 compatible
  .devcontainer/configuration.yaml
  README.md
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/exceptions.py
  custom_components/google_home/manifest.json
  custom_components/google_home/sensor.py
  custom_components/google_home/translations/en.json
  custom_components/google_home/utils.py
  pyproject.toml
Labels: refactoring

#81 Migrate from reorder-python-imports to isort
  .pre-commit-config.yaml
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/entity.py
  custom_components/google_home/sensor.py
  custom_components/google_home/utils.py
  poetry.lock
  pyproject.toml
Labels: refactoring

#80 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#83 Use lazy % formatting in logging functions
  custom_components/google_home/api.py
  custom_components/google_home/sensor.py
  pyproject.toml
Labels: refactoring

#77 Removing SUPPORTED_HARDWARE_LIST
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/utils.py
Labels: feature, refactoring

#84 Fix no-member warning
  custom_components/google_home/entity.py
  custom_components/google_home/sensor.py
  pyproject.toml
Labels: refactoring

#87 Fix unused-argument warning
  custom_components/google_home/__init__.py
  pyproject.toml
Labels: refactoring

#89 Closes #78
  custom_components/google_home/api.py
  custom_components/google_home/entity.py
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  pyproject.toml
Labels: documentation

#92 Add more type hints
  custom_components/google_home/__init__.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/entity.py
  custom_components/google_home/sensor.py
Labels: refactoring

#103 Catch exceptions when getting alarms and timers to better allow for debugging
  custom_components/google_home/api.py
Labels: bug

#104 Better issue template
  .github/ISSUE_TEMPLATE/issue.md
Labels: github_structure

#107 Add device class for next alarm and next timer.
  custom_components/google_home/entity.py
Labels: refactoring

#110 Set verbose logging level for glocaltokens
  custom_components/google_home/api.py
  custom_components/google_home/manifest.json
  poetry.lock
  pyproject.toml
Labels: patch

#111 Reduce code duplication in entities
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/sensor.py
Labels: refactoring

#112 Combine two sensors into one
  README.md
  custom_components/google_home/const.py
  custom_components/google_home/sensor.py
Labels: documentation, minor, removal

#117 Add more type hints and enforce more checks
  custom_components/google_home/api.py
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/manifest.json
  custom_components/google_home/models.py
  custom_components/google_home/sensor.py
  custom_components/google_home/types.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: refactoring

#121 Replace 'off' state with 'unavailable'
  README.md
  custom_components/google_home/sensor.py
Labels: minor, patch
