Repository leikoilja/ha-google-home, pull requests merged in 2021-02, with the labels that each got.

#11 Merge new component - Initial commit
  custom_components/ha-glocaltokens/__init__.py
  custom_components/ha-glocaltokens/api.py
  custom_components/ha-glocaltokens/const.py
  custom_components/ha-glocaltokens/entity.py
  custom_components/ha-glocaltokens/sensor.py
  custom_components/ha-glocaltokens/utils.py
Labels: enhancement

#38 Added warning if one or more devices are offline
  custom_components/ha-google-home/api.py
  custom_components/ha-google-home/const.py
Labels: feature

#43 Adding tox testing environment
  .github/workflows/linting.yaml
  .github/workflows/release-drafter.yml
  .github/workflows/tests.yaml
  .gitignore
  CONTRIBUTING.md
  README.md
  requirements
  tests/__init__.py
  tox.ini
Labels: github_structure, testing

#42 Renaming classes to match Google-Home
  .devcontainer/configuration.yaml
  .devcontainer/devcontainer.json
  LICENSE
  custom_components/ha-google-home/__init__.py
  custom_components/ha-google-home/config_flow.py
  custom_components/ha-google-home/const.py
  custom_components/ha-google-home/entity.py
  custom_components/ha-google-home/exceptions.py
  custom_components/ha-google-home/sensor.py
Labels: refactoring
