Repository leikoilja/ha-google-home, pull requests merged in 2021-08, with the labels that each got.

#302 Add config option for changing update interval.
  custom_components/google_home/__init__.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/const.py
  custom_components/google_home/translations/en.json
Labels: feature, minor, translation

#303 Add README.md notice about update interval changes and issues
  README.md
Labels: documentation

#304 Add missing translations
  custom_components/google_home/translations/ca.json
  custom_components/google_home/translations/de.json
  custom_components/google_home/translations/nb.json
  custom_components/google_home/translations/nn.json
  custom_components/google_home/translations/pt.json
  custom_components/google_home/translations/ru.json
Labels: translation

#309 Fixing alarm volume response typo
  custom_components/google_home/api.py
Labels: bug

#310 Using unique device_id received from glocaltokens==0.4.0
  custom_components/google_home/api.py
  custom_components/google_home/entity.py
  custom_components/google_home/manifest.json
  custom_components/google_home/models.py
  custom_components/google_home/number.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  custom_components/google_home/types.py
  poetry.lock
  pyproject.toml
Labels: feature
