Repository leikoilja/ha-google-home, pull requests merged in 2021-11, with the labels that each got.

#387 Clarify that Logger service needs to be enabled & configured in yaml mode
  README.md
Labels: documentation

#392 Move attributes to device model and remove integration attribute
  custom_components/google_home/const.py
  custom_components/google_home/entity.py
  custom_components/google_home/number.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  custom_components/google_home/types.py
Labels: refactoring

#391 Update README.md
  README.md
Labels: documentation

#398 Add support for entity_categories
  custom_components/google_home/number.py
  custom_components/google_home/sensor.py
  custom_components/google_home/switch.py
  hacs.json
  poetry.lock
  pyproject.toml
Labels: refactoring

#399 Add Kodiak automerger
  .kodiak.toml
Labels: github structure
