Repository leikoilja/ha-google-home, pull requests merged in 2022-07, with the labels that each got.

#569 Stop overriding deprecated methods of NumberEntity
  custom_components/google_home/number.py
Labels: refactoring

#563 Add Polish translation 🇵🇱
  README.md
  custom_components/google_home/translations/pl.json
Labels: translation

#577 Add workaround for GLIBC issue in troubleshooting
  README.md
Labels: documentation
