Repository leikoilja/ha-google-home, pull requests merged in 2022-02, with the labels that each got.

#451 Add a reminder to use github action for releases
  .github/release-drafter.yml
  script/publish_release.py
Labels: github structure

#452 Fix glocaltokens==0.6.1 manifest reference
  custom_components/google_home/manifest.json
Labels: bug

#457 Update dependencies
  CONTRIBUTING.md
  README.md
  custom_components/google_home/manifest.json
  hacs.json
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies

#472 Bump glocaltokens to 0.6.3 and adding google-api-python-client dep
  custom_components/google_home/manifest.json
Labels: bug
