Repository leikoilja/ha-google-home, pull requests merged in 2022-06, with the labels that each got.

#540 Bump glocaltokens to 0.6.4; cleanup hacs.json
  hacs.json
  poetry.lock
  pyproject.toml
Labels: dependencies

#551 Automatically update dependencies in manifest
  script/publish_release.py
Labels: github structure

#559 Remove empty docs
  docs/_config.yml
  docs/index.md
Labels: documentation

#560 Reorder sections in release template by importance
  .github/release-drafter.yml
Labels: github structure
