Repository leikoilja/ha-google-home, pull requests merged in 2023-02, with the labels that each got.

#645 Use async_forward_entry_setups
  custom_components/google_home/__init__.py
Labels: refactoring

#644 Replace deprecated DEVICE_CLASS with modern enum
  custom_components/google_home/const.py
  custom_components/google_home/sensor.py
Labels: refactoring

#653 Prevent automatic updates of homeassistant dependency
  poetry.lock
  pyproject.toml
Labels: dependencies

#656 Ignore ha
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Labels: dependencies

#657 better explain pt-pt
  custom_components/google_home/translations/pt.json
Labels: translation

#658 Revert "better explain pt-pt"
  custom_components/google_home/translations/pt.json
Labels: translation
