Repository leikoilja/ha-google-home, pull requests merged in 2023-11, with the labels that each got.

#779 Update HA to 2023.11 and Python to 3.11
  .github/workflows/home-assistant.yml
  .github/workflows/linting.yaml
  .github/workflows/publish-release.yml
  CONTRIBUTING.md
  custom_components/google_home/__init__.py
  custom_components/google_home/api.py
  custom_components/google_home/config_flow.py
  custom_components/google_home/entity.py
  custom_components/google_home/number.py
  custom_components/google_home/sensor.py
  custom_components/google_home/services.yaml
  custom_components/google_home/types.py
  poetry.lock
  pyproject.toml
Labels: refactoring

#780 Add docs for fetching token using container
  README.md
Labels: documentation

#783 Update docs for fetching token using container
  README.md
Labels: documentation

#792 Fix services schema and improve selectors
  custom_components/google_home/sensor.py
  custom_components/google_home/services.yaml
Labels: bug

#793 feat(translation): add Slovak translation 🇸🇰
  README.md
  custom_components/google_home/translations/sk.json
Labels: documentation, translation

#794 Translate services to all supported languages
  custom_components/google_home/services.yaml
  custom_components/google_home/translations/ca.json
  custom_components/google_home/translations/da.json
  custom_components/google_home/translations/de.json
  custom_components/google_home/translations/en.json
  custom_components/google_home/translations/es.json
  custom_components/google_home/translations/fr.json
  custom_components/google_home/translations/it.json
  custom_components/google_home/translations/nb.json
  custom_components/google_home/translations/nl.json
  custom_components/google_home/translations/nn.json
  custom_components/google_home/translations/pl.json
  custom_components/google_home/translations/pt-BR.json
  custom_components/google_home/translations/pt.json
  custom_components/google_home/translations/ru.json
  custom_components/google_home/translations/sk.json
  custom_components/google_home/translations/uk.json
Labels: translation

#795 Put bug fixes before translations in release draft
  .github/release-drafter.yml
Labels: github structure

#796 🇳🇴 Nynorsk translation fixes
  custom_components/google_home/translations/nn.json
Labels: translation

#800 Fix poetry config
  pyproject.toml
Labels: github structure
